{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input class="form-control" autofocus id="inputTitle" type="text" name="title">
        </div>
        <div class="form-group">
            <label for="textarea">Description</label>
            <textarea class="form-control" id="textarea" rows="3" name="description"></textarea>
        </div>        
        <div class="form-group">
            <label>Starting bid</label>
            <input class="form-control" type="number" name="price">
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <input class="form-control" type="url" name="image" placeholder="Image URL">
        </div>
        <div class="form-group">
            <label for="inputCategory">Category</label>
            <select id="inputCategory" class="form-control" name="category">
              <option selected>Choose...</option>
              {% for category in categories %}
                <option>{{ category }}</option>
              {% endfor %}
            </select>
          </div>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>

{% endblock %}