{% extends "auctions/layout.html" %}

{% block body %}

    {% if category %}
        <h2>{{ category }}</h2>
    {% else %}
        <h2>Active Listings</h2>
    {% endif %}

    {% if listings %}
        {% for li in listings %}
            <div class="card mb-3">
                <div class="row no-gutters">
                <div class="col-md-2">
                    <img src="{{ li.imageURL }}" class="card-img" alt="{{ li.title }}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                    <h5 class="card-title">{{ li.title }}</h5>
                    <p class="card-text"><b>Price:</b> ${{ li.price }}</p>
                    <p class="card-text">{{ li.description }}</p>
                    <a href="{% url 'listings' li.id %}" class="stretched-link">View listing</a>
                    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No listings found</h3>
    {% endif %}

{% endblock %}