{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="my-3">
    {% if category %}
        {{ category }}
    {% else %}
        Active Listings
    {% endif %}
    </h2>

    {% if listings %}
        {% for li in listings %}
            <div class="card mb-3" >
                <div class="row g-0">
                <div class="col-md-2">
                    <img src="{{ li.imageURL }}" class="img-fluid rounded" alt="{{ li.title }}">
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                    <h5 class="card-title">{{ li.title }}</h5>
                    <p class="card-text"><b>Price: </b> ${{ li.price }}</p>
                    <p class="card-text">{{ li.description }}</p>
                    <a href="{% url 'listings' li.id %}" class="stretched-link">View listing</a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>No listings found</h3>
    {% endif %}

{% endblock %}